/*
 * Local Font Serving
 */

@font-face {
  font-family: 'Libre Baskerville';
  font-weight: 400;
  font-style: normal;
  src: url('/css/fonts/Libre-Baskerville-regular.eot');
  src: url('/css/fonts/Libre-Baskerville-regular.eot?#iefix') format('embedded-opentype'),
       local('Libre Baskerville'),
       local('Libre-Baskerville-regular'),
       url('/css/fonts/Libre-Baskerville-regular.woff2') format('woff2'),
       url('/css/fonts/Libre-Baskerville-regular.woff') format('woff'),
       url('/css/fonts/Libre-Baskerville-regular.ttf') format('truetype'),
       url('/css/fonts/Libre-Baskerville-regular.svg#LibreBaskerville') format('svg');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-weight: 700;
  font-style: normal;
  src: url('/css/fonts/Libre-Baskerville-700.eot');
  src: url('/css/fonts/Libre-Baskerville-700.eot?#iefix') format('embedded-opentype'),
       local('Libre Baskerville Bold'),
       local('Libre-Baskerville-700'),
       url('/css/fonts/Libre-Baskerville-700.woff2') format('woff2'),
       url('/css/fonts/Libre-Baskerville-700.woff') format('woff'),
       url('/css/fonts/Libre-Baskerville-700.ttf') format('truetype'),
       url('/css/fonts/Libre-Baskerville-700.svg#LibreBaskerville') format('svg');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-weight: 400;
  font-style: italic;
  src: url('/css/fonts/Libre-Baskerville-italic.eot');
  src: url('/css/fonts/Libre-Baskerville-italic.eot?#iefix') format('embedded-opentype'),
       local('Libre Baskerville Italic'),
       local('Libre-Baskerville-italic'),
       url('/css/fonts/Libre-Baskerville-italic.woff2') format('woff2'),
       url('/css/fonts/Libre-Baskerville-italic.woff') format('woff'),
       url('/css/fonts/Libre-Baskerville-italic.ttf') format('truetype'),
       url('/css/fonts/Libre-Baskerville-italic.svg#LibreBaskerville') format('svg');
}


/*
 * Styles
 */

html {
    font: 95%/1.618 "Libre Baskerville", Georgia, Times, serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #626262;
    /* Color for matching L values from Solarized */
    /* background-color: #F6F6F6;
    */
}
body { width: 90%; }
@media (min-width: 48rem){
    html { font-size: 112%; }
    body { width: 100%; }
}
@media (min-width: 64rem){
    html { font-size: 120%; }
}
@media (min-width: 640px){
    html { font-size: 112%; }
    body { width: 100%; }
}
@media (min-width: 1024px){
    html { font-size: 120%; }
}
h1,h2,h3,h4,h5 { 
    text-align: center; 
    font-weight: normal;
    margin-top: 3rem;
    color: #585858;
    line-height: 1.4em;
}
h1 {
    display: table;
    margin: 0 auto 2.5rem;
    font-variant: small-caps;
    font-size: 1.802rem;
}
h2 { font-size: 1.44rem; }
h3 { font-size: 1.266rem; }
h4 { font-size: 1.2rem; font-variant: small-caps; }
h5 { font-size: 1.1rem; font-variant: small-caps; }
h1+h2, h2+h3, h3+h4, h4+h5 { margin-top: 0; }
body {
    margin: 1.5rem auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
/*
 * This used to be: "body > * {"
 * but IE/Edge fucks it all up.
 * This fixes it for IE/Edge.
 */
body > section { 
    max-width: 37rem; 
    margin-left: auto;
    margin-right: auto;
}
article { max-width: initial; }
article > * {
    max-width: 37rem; 
    margin-left: auto;
    margin-right: auto;
}
#markdown-container > * {
    max-width: 37rem; 
    margin-left: auto;
    margin-right: auto;
}
img {
    max-width: 100%;
    max-height: 90vh;
    margin-bottom: 0.25rem;
}
a {
    color: #268bd2;
    text-decoration: none;
}
a:visited {
    color: #d33682;
}
a:hover {
    text-decoration: underline;
}
figure {
    margin: 2rem auto;
    display: table;
}
figure img {
    display: block;
    margin: 0 auto 0.25rem;
    height: auto;
    width: auto;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* Fuck you, IE10+ */
    figure img {
        width: 100%;
    }
}
figure.inline img {
    display: inline
}
figcaption {
    font-size: 0.8rem;
    display: table-caption;
    caption-side: bottom;
    margin: 0.25rem;
}
ul, ol { max-width: 35rem; }
li { margin-bottom: 0.3rem; }
blockquote {
    border-left: solid 2px #ccc;
    padding: 0 0 0 0.75rem;
    max-width: 35rem !important;
    margin: 2.5rem auto;
}
blockquote cite {
    display: block;
    text-align: right;
    color: #999;
}
blockquote cite:before {
    content: "\2014";
}
hr {
    border: 0;
    border-top: solid 1px #ddd;
    margin: 5rem auto;
    width: 5rem;
}
.big {
    max-width: 55rem;
}
.nav { 
    margin-right: 0.5rem;
}
.avatar img {
    float: right;
    border-radius: 50%;
    height: 70px;
}
.header {
    margin-bottom: 4.5rem;
    position: relative;
}
.date {
    font-family: sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
    color: #aaa;
    text-align: center;
    margin-bottom: 1rem;
    display: block;
}
.site-info { font-size: 1.1rem; }
@media (min-width: 1024px){
    .site-info { font-size: 0.9rem; }
}
.site-info .title { font-size: 120%; }
.header-link,.header-link:visited, .site-info a {
    color: inherit;
}
small {
    font-size: 0.8rem;
}
.fluid-vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 1em;
}
.fluid-vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
pre,code {
    white-space: pre-wrap;
    background-color: #f5f5f5;
    padding: 0.25rem;
}
.pagination-nav{
    font-variant: small-caps;
    text-align: center;
}
.readmore {
    text-align: right;
    font-variant: small-caps;
    font-size: 1.1rem;
}
.footer {
    margin: 5rem auto;
    font-size: 0.8rem
}
