/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* Layout
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 100%/1.5 "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 40rem) {
  html { font-size: 112%; }
}

@media (min-width: 64rem) {
  html { font-size: 120%; }
}

body {
  background-color: #fff;
  color: #555;
}

.container {
  margin: 0 auto;
  max-width: 53rem;
  width: 90%;
}

/* Header
   ========================================================================== */

header {
  background-color: #497bad;
  /*background-color: #999;
   */
  overflow: hidden;
  text-align: center;
}

.intro { margin: 2rem 0; }

@media (min-width: 40rem) {
  .intro { margin: 4rem 0; }
}

header h1 {
//  border: 3px solid #fff;
//  -moz-border-radius: 3px;
//  -webkit-border-radius: 3px;
//  border-radius: 3px;
  color: #fff;
//  padding: .4rem .6rem;
//  display: inline-block;
  font-size: 1.8rem;
  text-transform: uppercase;
//  margin-bottom: 2rem;
}

header p {
  color: rgba(255,255,255,0.7);
  margin: 0 auto;
}

header a {
  color: rgba(255,255,255,0.9);
  text-decoration: underline;
}

header a:hover { text-decoration: none; }

.mobile {
  margin: 0 auto;
  max-width: 150px;
}

@media (min-width: 40rem) {
  .mobile { max-width: 250px; }
}

/* Section
   ========================================================================== */

section {
  border-top: 1px solid #eee;
  text-align: center;
  padding: 2rem 0;
}

section:first-of-type { border-top: none; }

@media (min-width: 40rem) {
  section { padding: 4rem 0; }
}

/* Mobile First Grid
   ========================================================================== */

.column { margin-bottom: 1.5rem; }

@media (min-width: 40rem) {
  .column {
    float: left;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }
}

/* Typography
   ========================================================================== */

h1, h2, h3, h4, h5 {
  font-weight: 600;
  margin: 0;
}

h1 {
  //font-size: 1.3rem;
  line-height: 1.3em;
  margin-bottom: 1.5rem;
}

@media (min-width: 40rem) {
  h1 { font-size: 1.75rem; }
}

h3 {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

p {
  color: #999;
  margin: 0 auto;
  max-width: 30rem;
}

blockquote { margin: 0; }

blockquote p {
  color: #bbb;
  font-style: italic;
  margin-bottom: 1.5rem;
}

cite { color: #bbb; }

/* Code
   ========================================================================== */

code {
  background-color: #f8f8f8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 0.8rem;
  padding: 0.1rem 0.3rem;
  position: relative;
  top: -1px;
  white-space: nowrap;
}

/* Lists
   ========================================================================== */

ul {
  margin: 0;
  text-align: left;
}

@media (min-width: 40rem) {
  ul { display: inline-block; }
}

/* Links
   ========================================================================== */

a {
  color: #497bad;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

/* Buttons
   ========================================================================== */

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #497bad;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.7rem 1.5rem;
  vertical-align: middle;
  white-space: nowrap;
}

.button:hover {
  background: #5183b6;
  text-decoration: none;
}

@media (min-width: 40rem) {
  .button {
    display: inline-block;
    font-size: 0.9rem;
  }
}

/* Elements
   ========================================================================== */

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 2rem auto;
  width: 3rem;
}

@media (min-width: 40rem) {
  hr { margin: 2.5rem auto; }
}

hr.small { margin: 1.5rem auto; }

.circle {
  border: 3px solid #555;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #555;
  display: block;
  font-size: 1.7rem;
  font-weight: 600;
  height: 3.2rem;
  line-height: 1.7em;
  margin: 0 auto 1rem auto;
  text-align: center;
  width: 3.2rem;
}

img {
  display: block;
  height: auto;
  margin: 0 auto 1.5rem auto;
  width: 100%;
}

.rwd {
  margin: 0 auto 1.5rem auto;
  max-width: 440px;
}

/* Examples
   ========================================================================== */

.example {
  border-top: none;
  background-color: #497bad;
  color: #fff;
}

.example p { color: rgba(255,255,255,0.7); }
.example img { margin: 0; }

.fragmentation {
  background-image: url("/images/fragmentation.png");
  background-size: cover;
  min-height: 250px;
}

@media (min-width: 40rem) {
  .fragmentation { min-height: 500px; }
}

.mobile-first .column {
  float: none;
  margin-bottom: 1rem;
}

.grid { text-align: center; }

.grid span {
  background: rgba(225,255,255,0.1);
  border: 2px solid rgba(255,255,255,0.2);
  display: block;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.grid .container {
  border: 2px dashed rgba(255,255,255,0.3);
  padding: 1rem 1rem 0 1rem;
}

@media (min-width: 40rem) {
  .grid .container { padding: 1rem 0 0 0; }
}

.grid .column { margin-bottom: 1rem; }

.row-example .container {
  border: 2px dashed rgba(255,255,255,0.2);
  padding: 1rem;
}

.row-example .row {
  background: rgba(225,255,255,0.1);
  border: 2px solid rgba(255,255,255,0.2);
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 1rem;
}

.row-example .row:last-of-type { margin-bottom: 0; }

@media (min-width: 40rem) {
  .row-example .row { padding: 1rem 0 0 0; }
}

.gutters {
  border: 2px dashed #eee;
  margin-bottom: 2rem;
  max-width: 39rem;
  padding: 1rem 1rem 0 1rem;
}

.gutters .column {
  background: #fb917e;
  margin-bottom: 1rem;
}

.gutters span {
  background: #f8f8f8;
  color: #999;
  display: block;
  padding: 1rem 0;
}

/* Box Model
   ========================================================================== */

.box-model h1 { margin-bottom: 3rem; }

.margin { color: #f9cd9d; }
.border { color: #fce08f; }
.padding { color: #c2ddb6; }
.content { color: #9ec3e5; }

/* Gist Overrides
   ========================================================================== */

.gist .gist-file {
  font-size: .9rem !important;
  margin: 0 auto;
  max-width: 39rem;
  overflow: hidden !important;
  text-align: left;
}

.gist .gist-file .gist-data {
  background: #f8f8f8 !important;
  border-bottom: none !important;
}

.gist .gist-file .gist-meta {
  display: none !important;
}

.gist-syntax .k {
  color: #555 !important;
  font-weight: normal !important;
}

/* Animate.css by Daniel Eden
   ========================================================================== */

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  } 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* Utilities
   ========================================================================== */

.remove-padding { padding-bottom: 0; }
.remove-border { border: none; }

/* Clearfix by Nicolas Gallagher
   ========================================================================== */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
/* Type
 *
 * ============================= */
@import url(//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Oswald:300,400|Roboto+Slab:400,700);
@font-face {
	font-family: cc-icons;
	src: url(/styles/cc-icons.ttf);
}

body {
	font-family: Lora, serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    /*-webkit-text-stroke: 0.15px;
	 */
	font-family: Oswald;
	font-weight:400
}

/* space heading closer to following paras */
h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
    margin-top: 0.5rem;
}

/* bigger space between last para and next heading */
p+h1, p+h2, p+h3, p+h4, p+h5, p+h6 {
    margin-top: 2rem;
}

a.header-link-alt {
    color: inherit; 
}

h3, h4 {
	/*font-weight: 300;*/
}

h4 {
	text-transform: uppercase;
}

#title {
	margin-bottom: 0;
	font-size: 2rem;
}

p {
	color: #555;
    color: #666;
	margin-top: 1em;
	margin-bottom: 1em;
}

p:first-of-type { margin-top: 0; }

.lede {
	min-height: 150px;
    background-color: #eee;
	background-size: cover;
	background-position: center;
    margin-bottom: 1.5rem;
}

.lede-img {
    position: relative;
}

.lede-attr {
    font-family: Oswald;
    font-weight: 300;
    font-size: 0.9rem;
    color: #666;
    position: absolute;
    right: 0;
    bottom: -1.5rem;
    padding-right: 0.5rem;
}

small.lede-attr{
    font-size: initial;
    position: inherit;
}

blockquote {
	padding: 0 0.5em;
    border: solid 1px #ccc;
    border-left: solid 5px #aaa;
    -webkit-box-shadow: 0 6px 4px -5px #ccc;
    -moz-box-shadow: 0 6px 4px -5px #ccc;
    box-shadow: 0 6px 4px -5px #ccc;

}

blockquote::before {
    /* content: open-quote; */
}

blockquote > p {
    margin: 1em auto !important;
    color: #666;
}

figure {
	margin: 1.5em auto;
	display: table;
}

figure.full-width {
	width: 100%;
}

p img, figure img {
	width: 100%;
	max-width: 100%;
	height: auto;
	margin: 0 auto 0.5rem auto;
}

p img {
    width: initial;
}

figure img {
	/* cursor: crosshair; */
}

figure.full-width > figcaption {
	margin: 0 auto;
	width: 90%;
}

figcaption {
	font-size: 0.85rem;
	text-align: center;
	line-height: 1.3em;
	display: table-caption;
	caption-side: bottom;
}

.lede-img {
	background-size: cover;
    background-position: center;
    background-color: #eee;
	margin-bottom: 1.5em;
    min-height: 250px
}

@media (min-width: 40rem){
    .lede-img { min-height: 500px; }

	figure.full-width {
		width: 100vw;
        width: 100%;
	}
}

@media (min-width: 64rem){
    .lede-img { min-height: 650px; }

}

#subtitle {
    font-size: 1.2rem;
    font-style: italic;
    color: lightslategray;
	margin-left: 0;
    margin-bottom: 1rem;
    font-weight: 400;
}

.article-date {
	font-size: 0.9rem;
	font-family: Oswald;
	font-weight: 300;
	margin-top: -1em;
	color: #aaa;
}

.article-title .author-name {
    color: #aaa;
    margin-top: 0;
    margin-bottom: 0.75em;
    font-weight: 300;
    font-size: 1.05em;
}

/* This is for the section footer at the end of the document */
/*
section.footer, header#bar {
	color: #999;
	background-color: #333;
}

section.footer p {
	color: #888;
}
*/

.footer {
	background-color: #eee;
	background-color: whitesmoke;
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.5);
}

.footer h3 {
	font-weight: 400;
	font-size: 1.6rem;
}

.navlink {
	font-family: Oswald;
	font-size: 1.4rem;
	text-transform: uppercase;
}

@media (min-width: 40rem){
    section.footer {
    	text-align: left;
    }

	.navlink {
		margin-bottom: 0.8rem;
	}
}

@media (min-width: 64rem){
	.navlink {
		margin-bottom: 0;
		font-size: 1.2rem;
	}
}

/*
 * Styling for navigation links on mobile
 */
@media (max-width: 40rem){
	#navlinks a {
		display: block;
		height: 100%;
		display: table-cell;
		vertical-align: middle;
	}
	
	.navlink {
		background-color: #ddd;
		height: 60px;
		margin-bottom: 2px;
		display: table;
		width: 100%;
	}
}

#social-icons {
	margin-top: 1.7rem;
}

#social-icons img {
        width: 35px;
        height: auto;
        display: inline;
        margin: 0 0.5rem 0.5rem auto;
		opacity: 0.5;
}

@media (max-width: 64rem){
        #social-icons img {
                margin: 0 15px 15px;
        }
}

/* Author Info Box at the end of Posts */
div.post-end {
	margin-bottom: 2.5em;
}

.byline {
	font-family: Oswald;
	font-weight: 300;
	font-size: 0.9rem;
	text-transform: uppercase;
}

div.author-box {
	text-align: center;
}

.author-box img {
	width: 100px;
	margin-bottom: 0.5rem;
}

.author-name {
	font-family: Oswald;
	font-weight: 400;
	font-size: 1.2rem;
}

.author-end {
	border-top: solid 1px #ddd;
	margin: 1.5rem 0;
}

.author-bio {
	font-size: 0.9em;
}

@media (min-width: 40rem){
	div.author-box {
		padding-left: 1em;
		margin-top: 0.5em;
		margin-bottom: 2.5em;
		text-align: left;
	}

	div.author-box-image {
		position: absolute;
		width: 100px;
	}

	.author-box img {
		width: 150px;
		float: left;
		margin-right: 0.5rem;
	}

	div.author-box-image img {
		width: 100%;
	}

	div.author-box-info {
		margin-left: 110px;
		min-height: 100px;
	}

}

.site-name, .links-title {
    font-family: Oswald;
	font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.site-slogan {
	font-family: Oswald;
	font-weight: 300;
}

.cc-row {
	text-align: center;
}
@media (min-width: 40rem){
	.cc-row {
		margin-top: 3rem;
	}
}

.cc {
	font-family: cc-icons;
	vertical-align: middle;
}

.cc-info {
	font-family: Oswald;
	font-weight: 300;
	font-size: 0.85rem;
}

.cc-info img {
	display: inline;
	width: 88px;
	margin: 0;
}

.camrule {
	border-bottom: solid 1px #ccc;
	display: none;
}

.camrule-img {
	height: 40px;
	height: 2rem;
	width: auto;
	margin: 0 auto;
	margin-bottom: -20px;
}

@media (min-width: 40rem){
	ul {
		display: block;
        margin-left: 1rem;
	}

    li > ul {
        margin-left: 0;
    }

    
}

#nextPrev {
	font-family: Oswald;
	color: #888;
	font-weight: 300;
	margin-bottom: 2rem;
}

#nextPrev a {
	color: #7A94AE;
}

#nextPrev .column div {
	font-weight: 400;
}

#nextPrev .next {
	text-align: right;
}

#prevTitle {
	margin-left: 1rem;
}

#nextTitle {
	margin-right: 1rem;
}

pre {
		background-color: #f8f8f8;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid #ddd;
		white-space: pre;
		font-family: consolas, "Liberation Mono", Courier, monospace;
		font-size: 0.8em;
		padding: 0.3em;
}

pre code {
		-moz-border-radius: none;
		-webkit-border-radius: none;
		border-radius: none;
		border: none;
		white-space: pre;
		padding: 0;
		background-color: initial;
}

.big-vid {
	margin-left: -5%;
	width: 110%;
}

@media (min-width: 40rem){
	.big-vid {
		margin-left: 0;
		width: 150%;
	}
}

.fluid-vid {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.fluid-vid iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

p.aside {
    font-size: 0.9em;
    border: dashed 1px;
    padding: 0.5rem;
    font-family: Oswald;
    font-weight: 300;
}

p.aside > span {
    display: block;
    font-weight: 400;
}

#discourse-comments {
    margin-bottom: 2rem;
}

li {
    margin-bottom: 0.5rem;
}

.toggle-swap:first-of-type {
    border-left: none;
}

.toggle-swap {
    color: #497bad;
    cursor: pointer;
    border-left: solid 1px gray;
    padding: 0 0.5rem;
}

.toggle-swap:hover {
    background-color: #497bad;
    color: white;
}

.social-section p {
	font-size: 0.85rem;
	text-transform: uppercase;
}
/* @import url(//fonts.googleapis.com/css?family=Arvo&text=pxPIXLSUS.);
/*
 * These styles are for the auto-hiding nav bar when scrolling
 */
#bar{
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
    background-color: rgba(112,128,144,0.95);
    /*
	width: 55px;
    height: 55px;
    */
    width: 45px;
    height: 45px;
	overflow: hidden;
    margin-left: 0.25em;
	border: solid 2px rgb(50,50,50);
	z-index: 6;
    top:10px;
    left:10px;
    margin-left: 0;
}

#navlogo {
	font-size:2.1em; 
	font-family: arvo; 
	/*
	position: relative; 
	top: -11px; 
	*/
	line-height: 1em;
	color: rgb(50,50,50);
	height: 65px;
}

#header img {
        width: auto;
        float: left;
        margin: initial;
        position: absolute;
        left: 0px;
}

#header h1 {
    color: #ccc;
    margin-bottom: 0;
    float: left;
    font-size: 1.25rem;
}

.nav-up {
    top: -84px !important;
}

#nav-anchor {
	text-decoration: none;
}

#navimg {
    width: inherit;
    padding-top: 3px;
}
body {
    overflow-x: hidden;
}

#pushPage {
    position: relative;
    z-index: 5;
    background: #FFF;
}

#pushMenu {
    /*display: none;
     */
    visibility: hidden;
    position: fixed;
    width: 225px;
    padding: 1em 1em;
    margin: 0;
    background: #333;
    height: 100%;
    box-shadow: inset -20px 0 20px -20px black;
    font-family: Oswald;
    font-weight: 300;
    overflow-y: auto;

}

#pushMenu.visible {
    visibility: visible;
}

.push-sitename, .push-contents {
    font-family: 'Roboto Slab', Arvo, serif;
    font-size: 1rem;
    text-align: center;
    border-bottom: dashed 1px #666;
    margin-bottom: 0.5rem;
    color: #666;
}

.push-contents {
    margin-top: 1.25rem;
}

#pushMenu .navlink {
    border-bottom: solid 1px #444;
}

#pushMenu .navlink a:hover, #pushMenu-TOC .toc a:hover {
    color: #ccc;
}

@media ( max-width: 39.9rem) {
    #pushMenu {
        background: #333;
    }

    #pushMenu .navlink {
        background-color: #222;
		text-align: center;
		display: table;
		width: 100%;
        height: 50px;
    }

	#pushMenu .navlink a {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
	}

    .push-sitename, .push-contents {
        color: #bbb;
        border-bottom: dashed 1px #bbb;
    }
}

#pushMenu.animating, #pushMenu.menu-visible {
    display: block;
}

#pushPage.animating, #bar.animating {
    transition: transform 0.2s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
}

#pushPage.animating.left, #bar.animating.left {
    transform: translate3d( 225px, 0, 0);
    -webkit-transform: translate3d( 225px, 0, 0);
}

#pushPage.animating.right, #bar.animating.right {
    transform: translate3d( -225px, 0, 0);
    -webkit-transform: translate3d( -225px, 0, 0);
}

#pushPage.menu-visible, #bar.menu-visible {
    left: 225px;
}

#bar.menu-visible {
    left: 235px;
}

#pushPage, #pushMenu, #bar {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

/*
 * Styles for the TOC
 */

#pushMenu .toc {
    border-bottom: solid 1px #444;
}

#pushMenu .first {
    font-size: 1.2rem;
}

#pushMenu .second {
    font-size: 1.1rem;
    padding-left: 0.25rem;
}

#pushMenu .third {
    font-size: 1rem;
    padding-left: 0.5rem;
}

#pushMenu .fourth {
    font-size: 0.9rem;
    padding-left: 0.75rem;
}

#pushMenu .fifth {
    font-size: 0.8rem;
    padding-left: 1rem;
}

#pushMenu-TOC .toc, .toc a {
    position: relative;
    z-index: 2;
}

.toc-progress {
    background-color: rgb(40, 40, 40);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    z-index: 1;
}

@media ( max-width: 39.99rem) {
    #pushMenu .toc {
        padding-top: 0.25rem;
        padding-bottom: 0.5rem;
    }

    #pushMenu-TOC {
        padding: 0.3rem;
        /*
        background-color: #222;
        */
    }
}

@media ( max-width: 64rem) {
    #pushMenu .toc {
        padding-top: 0.25rem;
        padding-bottom: 0.5rem;
    }
}


/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+http */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

#markdow-wrapper {
    max-width: 53rem;
    margin: 0 auto;
}

#markdown-container {
    width: 66.7%;
    float: left;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
